<h1>Data Driven</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             formControlName="username">
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email">
      <div *ngIf="!myForm.controls['userData'].controls['email'].valid">
        Invalid Email
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           formControlName="password">
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
             formControlName="gender"
             [value]="g">
      {{g}}
    </label>
  </div>
  <div formArrayName="hobbies">
    <h3>Hobbies</h3>
    <div class="form-group"
         *ngFor="let hobby of myForm.controls['hobbies'].controls; let i = index">
      <input type="text"
             class="form-control" formControlName="{{i}}">
    </div>
  </div>
  <button type="button" class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>
