<md-toolbar color="primary">
  <md-icon class="app-toolbar-menu">menu</md-icon>
  <button md-button routerLinkActive="active" [routerLink]="['']">Angular 2 Seminar</button>
  <button md-button routerLinkActive="active" [routerLink]="['/data-binding']">Data Binding</button>
  <button md-button routerLinkActive="active" [routerLink]="['/directive']">Directive</button>
  <button md-button routerLinkActive="active" [routerLink]="['/service']">Service</button>
  <button md-button routerLinkActive="active" [routerLink]="['/form']">Form</button>
  <button md-button routerLinkActive="active" [routerLink]="['/http']">HTTP</button>
  <button md-button routerLinkActive="active" [routerLink]="['/pipe']">Pipe</button>
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
