/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-content md-card {
  margin: 20px;
}
